.dividerTop {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.mt20 {
  margin-top: 20px;
}

.labelWrap {
  width: 100px;
  padding-right: 6px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.abstractWrap {
  width: 36%;
  min-width: 500px;
  margin-left: 64%;
}
