<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>斯品家居经销商管理后台</title>
  <script src="/static/config.js"></script>
</head>

<body>
  <div id="app-container" style="height: 100%"></div>
</body>

</html>